@charset "UTF-8";

* {
    box-sizing: border-box;
}

header nav ul {
    margin: 0;
    padding: 0;
    /*float: right;*/
    display: flex;
    justify-content: center;
}

header nav {
    overflow: auto;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: -4px;
    border-bottom: 1px dotted rgb(0,0,0);
    border-bottom: 1px dotted rgba(0,0,0,0.3);
}

header {
    border-top: 4px solid rgb(0,0,0);
    border-top: 4px solid rgba(0,0,0,0.1);
    margin-right: -2em;
    margin-left: -2em;
}

nav ul li {
    list-style-type: none;
    /*float: left;*/
}

nav ul li a {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    display: block;
    border: 4px solid transparent;
}

nav ul li a:hover {
    border-top: 4px solid rgb(0,0,204)
}
main ul li {
    list-style-type: upper-roman;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

figure img { 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}


.mugshot {
    position: relative;
    float: right;
    top: -1em;
}    
   
.mythreefav {
    clear: right;
}   

body {
    background-color: #658DF3;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    display: flex;
}

h1, h2 {
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    font-family: 'Libre Baskerville', serif;
}

h1, h2, h3 {
    color: #0447F1;
    
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: rgb(0,31,255);
    background: linear-gradient(0deg, rgba(0,31,255,1) 0%, rgba(99,118,255,1) 30%, rgba(255,255,255,1) 100%); 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
a {
    color: #9FB8F6;
    text-decoration: none;
}

.byline {
    color: rgb(4, 71, 241);
    color: rgba(4, 71, 241, 0.5);
    font-size: 70%;
    
}


.bio {
    text-indent: 3em;
    grid-column: 1 / span 2;
}
#useful-links,
.glossary {
    grid-column: 1 / span 2;
}


.width-wrap {
    background-color: #878f99;
    margin: auto;
    max-width: 1024px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.width-wrap-links {
    background-color: #878f99;
    margin: auto;
    max-width: 1024px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}


#page-copyright {
    color: #0447F1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2em;
    margin-top: auto;
}

footer hr {
    width: 50%;
    width: 50vw;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid #003366;
    border-bottom: 8px dotted #003366;
    border-left: none;
    border-right: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.paperclip {
    background-image: url("../images/paperclip.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    top: -10px;
    right: -7px;
    position: absolute;
}


.gallery {
    grid-column: 1 / span 2;
}


.gallery-thumbnails {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.gallery-thumbnails a img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
}

.gallery-thumbnails a img:hover {
    width: 100%;
    display: block;
    filter: none;
}

.row-span-2 {
    grid-row: span 2;
}

.col-span-2 {
    grid-column: span 2;
}

.back-to-top a {
    bottom: 3.5em;
    position: fixed;
}

.back-to-top {
    text-align: right;
    margin-right: -0.5em;
    opacity: 0.5;
}

.back-to-top:hover {
    opacity: 1;
}

